{
  "openapi": "3.1.0",
  "info": {
    "title": "Cloud Events Consult API",
    "description": "Cloud Events API Product.",
    "version": "0.17.0"
  },
  "servers": [
    {
      "url": "https://api.magalu.cloud/br-ne-1/audit",
      "description": "Server for br-ne-1 region"
    },
    {
      "url": "https://api.magalu.cloud/br-se-1/audit",
      "description": "Server for br-se-1 region"
    },
    {
      "url": "https://api.magalu.cloud/br-se1/audit",
      "description": "Server for br-se1 region"
    }
  ],
  "paths": {
    "/v0/events": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Lists all events.",
        "description": "Lists all events emitted by other products.",
        "operationId": "list_event",
        "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Limit",
              "description": "Number of items per page",
              "default": 50
            }
          },
          {
            "name": "_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Offset",
              "description": "Offset for pagination",
              "default": 0
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Identification of the event",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                }
              ],
              "title": "ID",
              "description": "Identification of the event"
            }
          },
          {
            "name": "source__like",
            "in": "query",
            "description": "Context in which the event occurred ('like' operation)",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                }
              ],
              "title": "Source",
              "description": "Context in which the event occurred ('like' operation)"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Timestamp of when the occurrence happened",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                }
              ],
              "title": "Time",
              "description": "Timestamp of when the occurrence happened"
            }
          },
          {
            "name": "type__like",
            "in": "query",
            "description": "Type of event related to the originating occurrence ('like' operation)",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                }
              ],
              "title": "Type",
              "description": "Type of event related to the originating occurrence ('like' operation)"
            }
          },
          {
            "name": "product__like",
            "in": "query",
            "description": "In which producer product an event occurred ('like' operation)",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                }
              ],
              "title": "Product",
              "description": "In which producer product an event occurred ('like' operation)"
            }
          },
          {
            "name": "authid",
            "in": "query",
            "description": "Identification of the principal that triggered the occurrence",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                }
              ],
              "title": "Auth ID",
              "description": "Identification of the principal that triggered the occurrence"
            }
          },
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": false,
            "schema": {
              "title": "X-Tenant-Id"
            }
          },
          {
            "name": "data",
            "in": "query",
            "description": "The raw data event",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "title": "Raw Data",
              "additionalProperties": {
                "type": "string"
              },
              "default": {},
              "example": {
                "data.tenant_id": "00000000-0000-0000-0000-000000000000",
                "data.machine_type.name": "cloud-bs1.xsmall"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaginatorResponse_Event_"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPResponseError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "evt:event-tr"
            ]
          }
        ],
        "x-mgc-output-flag": "default=table;allowfields=ID:$.results[*].id,SOURCE:$.results[*].source,TYPE:$.results[*].type,SPECVERSION:$.results[*].specversion,SUBJECT:$.results[*].subject,TIME:$.results[*].time,AUTHID:$.results[*].authid,AUTHTYPE:$.results[*].authtype,PRODUCT:$.results[*].product,REGION:$.results[*].region"
      }
    },
    "/v0/event-types": {
      "get": {
        "tags": [
          "event-types"
        ],
        "summary": "Lists all event types.",
        "description": "Lists all types of events emitted by other products.",
        "operationId": "list_type",
        "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Limit",
              "description": "Number of items per page",
              "default": 50
            }
          },
          {
            "name": "_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Offset",
              "description": "Offset for pagination",
              "default": 0
            }
          },
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": false,
            "schema": {
              "title": "X-Tenant-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaginatorResponse_EventType_"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPResponseError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "evt:event-tr"
            ]
          }
        ],
        "x-mgc-output-flag": "default=table;allowfields=TYPE:$.results[*].type"
      }
    }
  },
  "components": {
    "schemas": {
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "examples": [
              "00000000-00000000-00000000-00000000"
            ],
            "title": "Id",
            "description": "Identifies the event."
          },
          "source": {
            "type": "string",
            "examples": [
              "https://api.com/v1/instances/00000000-00000000-00000000-00000000"
            ],
            "title": "Source",
            "description": "Identifies the context in which the event occurred."
          },
          "type": {
            "type": "string",
            "examples": [
              "cloud.magalu.compute.instance.create"
            ],
            "title": "Type",
            "description": "The value describing the type of event related to the originating occurrence."
          },
          "specversion": {
            "type": "string",
            "title": "Specversion",
            "description": "Version of the CloudEvents specification which the event uses.",
            "default": "1.0"
          },
          "subject": {
            "type": "string",
            "examples": [
              "instance/00000000-00000000-00000000-00000000"
            ],
            "title": "Subject",
            "description": "Identifies the subject of the event, in context of the event producer (identified by source)"
          },
          "time": {
            "type": "string",
            "examples": [
              "2024-07-16T22:50:00"
            ],
            "title": "Time",
            "format": "date-time",
            "description": "Timestamp of when the occurrence happened."
          },
          "authid": {
            "type": "string",
            "examples": [
              "00000000-00000000-00000000-00000000"
            ],
            "title": "Authid",
            "description": "A unique identifier of the principal that triggered the occurrence."
          },
          "authtype": {
            "type": "string",
            "examples": [
              "tenant",
              "unauthenticated",
              "client_credentials"
            ],
            "title": "Authtype",
            "description": "An enum representing the type of principal that triggered the occurrence."
          },
          "product": {
            "type": "string",
            "examples": [
              "default",
              "dbaas"
            ],
            "title": "Product",
            "description": "The identification in which producer type an event occur"
          },
          "region": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Region",
            "description": "The physical region of the event"
          },
          "tenantid": {
            "type": "string",
            "examples": [
              "00000000-00000000-00000000-00000000"
            ],
            "title": "Tenantid",
            "description": "ID of the tenant which requested the change"
          },
          "data": {
            "type": "object",
            "title": "Raw event",
            "description": "The raw event about the occurrence"
          }
        },
        "title": "Event",
        "required": [
          "id",
          "source",
          "type",
          "subject",
          "time",
          "authid",
          "authtype",
          "product",
          "tenantid",
          "data"
        ],
        "description": "Represent all the fields available in event output, following the Cloud Events Spec."
      },
      "EventType": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "title": "Type"
          }
        },
        "title": "EventType",
        "required": [
          "type"
        ]
      },
      "HTTPResponseError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "title": "Detail"
          },
          "message": {
            "type": "string",
            "title": "Message"
          }
        },
        "title": "HTTPResponseError",
        "required": [
          "detail",
          "message"
        ]
      },
      "HTTPValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "title": "Detail"
          }
        },
        "title": "HTTPValidationError"
      },
      "ListPaginatorResponse_EventType_": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/PaginatorResponse"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventType"
            },
            "title": "Results"
          }
        },
        "title": "ListPaginatorResponse[EventType]",
        "required": [
          "meta",
          "results"
        ]
      },
      "ListPaginatorResponse_Event_": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/PaginatorResponse"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            },
            "title": "Results"
          }
        },
        "title": "ListPaginatorResponse[Event]",
        "required": [
          "meta",
          "results"
        ]
      },
      "PaginatorResponse": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "title": "Limit"
          },
          "offset": {
            "type": "integer",
            "title": "Offset"
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "The number of items on the current page."
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "The total number of items available across all pages."
          }
        },
        "title": "PaginatorResponse",
        "required": [
          "count",
          "total"
        ]
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "title": "ValidationError",
        "required": [
          "loc",
          "msg",
          "type"
        ]
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth2/OIDC via IDP",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://autoseg-idp.luizalabs.com/oauth/auth",
            "tokenUrl": "https://autoseg-idp.luizalabs.com/oauth/token",
            "scopes": {
              "evt:event-tr": "Permissão de leitura de consumo de serviços."
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "events",
      "description": "Endpoints related to listing events emitted by other products."
    },
    {
      "name": "event-types",
      "description": "Endpoints related to listing types of events emitted by other products."
    }
  ]
}