{"openapi":"3.1.0","info":{"title":"Cloud Events Consult API","description":"Cloud Events API Product.","version":"0.30.0"},"servers":[{"url":"https://api.magalu.cloud/br-ne-1/audit","description":"Server for br-ne-1 region"},{"url":"https://api.magalu.cloud/br-se-1/audit","description":"Server for br-se-1 region"},{"url":"https://api.magalu.cloud/br-se1/audit","description":"Server for br-se1 region"}],"paths":{"/v0/events":{"get":{"tags":["events"],"summary":"Lists all events.","description":"Lists all events emitted by other products.","operationId":"list_event","security":[{"OAuth2":["evt:event-tr"]}],"parameters":[{"name":"_limit","in":"query","required":false,"schema":{"type":"integer","title":"Limit","description":"Number of items per page","default":50},"description":"Number of items per page"},{"name":"_offset","in":"query","required":false,"schema":{"type":"integer","title":"Offset","description":"Offset for pagination","default":0},"description":"Offset for pagination"},{"name":"id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"}],"title":"ID","description":"Identification of the event"},"description":"Identification of the event"},{"name":"correlationid","in":"query","required":false,"schema":{"anyOf":[{"type":"string"}],"title":"Correlation ID","description":"Correlation between event chain"},"description":"Correlation between event chain"},{"name":"source__like","in":"query","required":false,"schema":{"anyOf":[{"type":"string"}],"title":"Source","description":"Context in which the event occurred ('like' operation)"},"description":"Context in which the event occurred ('like' operation)"},{"name":"time","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"}],"title":"Time","description":"Timestamp of when the occurrence happened"},"description":"Timestamp of when the occurrence happened"},{"name":"type__like","in":"query","required":false,"schema":{"anyOf":[{"type":"string"}],"title":"Type","description":"Type of event related to the originating occurrence ('like' operation)"},"description":"Type of event related to the originating occurrence ('like' operation)"},{"name":"product__like","in":"query","required":false,"schema":{"anyOf":[{"type":"string"}],"title":"Product","description":"In which producer product an event occurred ('like' operation)"},"description":"In which producer product an event occurred ('like' operation)"},{"name":"authid","in":"query","required":false,"schema":{"anyOf":[{"type":"string"}],"title":"Auth ID","description":"Identification of the actor of the action"},"description":"Identification of the actor of the action"},{"name":"X-Tenant-ID","in":"header","required":false,"schema":{"title":"X-Tenant-Id"}},{"in":"query","name":"data","description":"The raw data event","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"},"title":"Raw Data","default":{},"example":{"data.tenant_id":"00000000-0000-0000-0000-000000000000","data.machine_type.name":"cloud-bs1.xsmall"}},"style":"form","explode":true}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListPaginatorResponse_Event_"}}}},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPResponseError"}}},"description":"Internal Server Error"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mgc-output-flag":"default=table;allowfields=ID:$.results[*].id,SOURCE:$.results[*].source,TYPE:$.results[*].type,SPECVERSION:$.results[*].specversion,SUBJECT:$.results[*].subject,TIME:$.results[*].time,AUTHID:$.results[*].authid,AUTHTYPE:$.results[*].authtype,PRODUCT:$.results[*].product,REGION:$.results[*].region"}},"/v0/event-types":{"get":{"tags":["event-types"],"summary":"Lists all event types.","description":"Lists all types of events emitted by other products.","operationId":"list_type","security":[{"OAuth2":["evt:event-tr"]}],"parameters":[{"name":"_limit","in":"query","required":false,"schema":{"type":"integer","title":"Limit","description":"Number of items per page","default":50},"description":"Number of items per page"},{"name":"_offset","in":"query","required":false,"schema":{"type":"integer","title":"Offset","description":"Offset for pagination","default":0},"description":"Offset for pagination"},{"name":"X-Tenant-ID","in":"header","required":false,"schema":{"title":"X-Tenant-Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListPaginatorResponse_EventType_"}}}},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPResponseError"}}},"description":"Internal Server Error"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mgc-output-flag":"default=table;allowfields=TYPE:$.results[*].type"}}},"components":{"schemas":{"Event":{"properties":{"id":{"type":"string","format":"uuid","title":"Id","description":"Identifies the event. Unique by source","examples":["00000000-0000-0000-0000-000000000000"]},"source":{"type":"string","title":"Source","description":"Identifies the context in which the event occurred.","examples":["https://api.com/v1/instances/00000000-0000-0000-0000-000000000000"]},"type":{"type":"string","title":"Type","description":"The value describing the type of event related to the originating occurrence.","examples":["cloud.magalu.compute.instance.create"]},"specversion":{"type":"string","title":"Specversion","description":"Version of the CloudEvents specification which the event uses.","default":"1.0"},"subject":{"type":"string","title":"Subject","description":"Identifies the subject of the event, in context of the event producer (identified by source)","examples":["instance/00000000-0000-0000-0000-000000000000"]},"time":{"type":"string","format":"date-time","title":"Time","description":"Timestamp of when the occurrence happened.","examples":["2024-07-16T22:50:00"]},"authid":{"type":"string","title":"Authid","description":"A unique identifier of the principal that triggered the occurrence.","examples":["00000000-0000-0000-0000-000000000000"]},"authtype":{"type":"string","title":"Authtype","description":"An enum representing the type of principal that triggered the occurrence.","examples":["tenant","unauthenticated","client_credentials"]},"product":{"type":"string","title":"Product","description":"The identification in which producer type an event occur","examples":["default","dbaas"]},"region":{"$ref":"#/components/schemas/Region","description":"The physical region of the event"},"tenantid":{"type":"string","title":"Tenantid","description":"ID of the tenant which requested the change","examples":["00000000-0000-0000-0000-000000000000"]},"correlationid":{"type":"string","title":"Correlationid","description":"Identifies the correlation between event chains.","examples":["00000000-0000-0000-0000-000000000000"]},"data":{"type":"object","title":"Raw event","description":"The raw event about the occurrence","examples":[]}},"type":"object","required":["id","source","type","subject","time","authid","authtype","product","region","tenantid","correlationid","data"],"title":"Event","description":"Represent all the fields available in event output, following the Cloud Events Spec."},"EventType":{"properties":{"type":{"type":"string","title":"Type"}},"type":"object","required":["type"],"title":"EventType"},"HTTPResponseError":{"properties":{"detail":{"type":"string","title":"Detail"},"message":{"type":"string","title":"Message"}},"type":"object","required":["detail","message"],"title":"HTTPResponseError"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"ListPaginatorResponse_EventType_":{"properties":{"meta":{"$ref":"#/components/schemas/PaginatorResponse"},"results":{"items":{"$ref":"#/components/schemas/EventType"},"type":"array","title":"Results"}},"type":"object","required":["meta","results"],"title":"ListPaginatorResponse[EventType]"},"ListPaginatorResponse_Event_":{"properties":{"meta":{"$ref":"#/components/schemas/PaginatorResponse"},"results":{"items":{"$ref":"#/components/schemas/Event"},"type":"array","title":"Results"}},"type":"object","required":["meta","results"],"title":"ListPaginatorResponse[Event]"},"PaginatorResponse":{"properties":{"limit":{"type":"integer","title":"Limit"},"offset":{"type":"integer","title":"Offset"},"count":{"type":"integer","title":"Count","description":"The number of items on the current page."},"total":{"type":"integer","title":"Total","description":"The total number of items available across all pages."}},"type":"object","required":["count","total"],"title":"PaginatorResponse"},"Region":{"type":"string","enum":["br-mgl1","br-ne1","br-se1","global"],"title":"Region"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"OAuth2":{"type":"oauth2","description":"OAuth2/OIDC via IDP","flows":{"authorizationCode":{"authorizationUrl":"https://autoseg-idp.luizalabs.com/oauth/auth","tokenUrl":"https://autoseg-idp.luizalabs.com/oauth/token","scopes":{"evt:event-tr":"Permissão de leitura de consumo de serviços."}}}}}},"tags":[{"name":"events","description":"Endpoints related to listing events emitted by other products."},{"name":"event-types","description":"Endpoints related to listing types of events emitted by other products."}]}